.head {
  background: url('../../../image/bacground-head.jpg') no-repeat;
  height: 1004px;
  width: 100%;
  position: relative;

  .main_text {
    height: 100%;
    
    &>div {
      height: 100%;
      align-items: center;
      
      &>div {
        margin-bottom: 100px;
        
        h1 {
          color: white;
          font-weight: bold;
        }
        &>div {
          p {
            font-size: 20px;
            font-weight: 400;
            color: white;
          }

          button {
            border: 0px;
            border-radius: 15px;
            color: #FF8000;
            background-color: #FFFFFF;
            font-size: 24px;
            font-weight: bold;
            padding: 12px;
            width: 100%;

            &:hover {
              color: #FFFFFF;
              background-color: #FF8000;
            }
          }
        }
      }
    }

  }
  .walve {
    position: absolute;
    width: 100%;
    height: 420px;
    bottom: 0;
  }

  .people {
    position: absolute;
    height: 80%;
    width: auto;
    left: 60%;
    bottom: 0;
  }

  
  @media (min-width: 270px) {
    .people {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .people {
      display: block;
      top:20%;
      left: 30%;
    }
  }
  

  @media (min-width: 1200px) {
    .people {
      top:20%;
      left: 43%;
    }
  }


  @media (min-width: 1350px) and (max-width: 1700px) {
    .people {
      top:20%;
      left: 50%;
    }
  }

  @media (min-width: 1700px) {
    .people {
      left: 60%;
      top: 10%;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    transition: 0.5s ease;

    .button_enter {
      display: flex;
      width: 100%;
      justify-content: end;

      a {
        color: black;
        border-radius: 15px;
        background-color: white;
        padding: 10px;
      }
    }

    ul {
      display: flex;
      height: 100%;
      list-style: none;
      padding: 0;
      align-items: center;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        font-size: 20pt;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        a {
          cursor: pointer;
          white-space: nowrap;
          text-decoration: none;
          color: white;
  
          &:hover{
            color: #FF8000
          }
        }
      } 
    }

    
    .menu {
      position: relative;
      height: 100%;
      z-index: 2;
      
      .menu-bar {
        width: 45px;
        height: 40px;
        margin-left: auto;
        margin-top: 30px;
        cursor: pointer;
       
        &>div {
          height: 5px;
          width: 100%;
          background-color: black;
          display: block;
          border-radius: 5px;
          transition: 0.3s ease;
    
        }
        
        :nth-child(1) {
          transform: translateY(-4px);
        }
        :nth-child(3) {
          transform: translateY(4px);
        }
        
        &.change {
          display: block;
            
          :nth-child(1) {
            transform: translateY(4px) rotateZ(-45deg);
            background-color: white;
          }
          :nth-child(2) {
            opacity: 0;
          }
          :nth-child(3) {
            transform: translateY(-6px) rotateZ(45deg);
            background-color: white;
          }
        }
      }  
      
      & ul.change {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: white;
        
      }
    }
    
    
    .menu-bg {
      top: 0;
      left:100%;
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
      background: radial-gradient(circle, #FF8000, #FF8000);
      border-radius: 50%;
      transition: 0.3s ease;

      &.change-bg {
        width: 620px;
        height: 560px;
        transform: translate(-60%,-30%);
      }
    }

    &.active { //When ScrollY reaches 600px
      transition: 0.5s ease;
      background-color: rgba($color: #FFFFFF, $alpha: 0.7);
  
      &>div>div>div>ul>li {
        a {
          color: black;
  
          &:hover, &.active{
            color: #FF8000
          }
        } 
      }
      
      .button_enter{
  
        a {
          color: white;
          border-radius: 15px;
          background-color: #FF8000;
  
        }
      }
    }

    &.noActive {
      &>div>div>div>ul>li {
        a {
          color: white;
          
          &:hover{
            color: #FF8000
          }
        }
      }
    }   

    @media (max-width: 576px) {
      ul{
        display: none;
      }
      .menu {
        display: block;

        ul {
          li{
            margin-bottom: 15px;
            a{
              font-size:32px;

              &:hover{
                color: #0083FF;
              }
            }
          }
        }
      }
    }

    @media (min-width: 576px) {
      ul{
        display: none;
      }
      .menu {
        display: block;

        ul {
          li{
            margin-bottom: 15px;
            a{
              font-size:32px;

              &:hover{
                color: #0083FF;
              }
            }
          }
        }
      }
    }
    
    @media (min-width: 768px) {
      ul{
        display: flex;
      } 
      .menu {
        display: none;
      }
      .menu-bg {
        display: none;
      }
    }
    
    
    @media (min-width: 992px) {
      
    }
    

    @media (min-width: 1200px) {

    }
  }

  .modalAuth {
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #FF8000, $alpha: 0.5);

    form{
      border-radius: 15px;
      margin: 0 auto;
      background-color: white;
      width: 600px;
      padding: 70px;
      
      img {
        display: block;
        margin-left: auto;
        width: auto;
        height: 30px;
        right: 0px;
        cursor: pointer;
      }

      h3 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #FF8000;
      }

      div {
        padding: 5px;

        p {
          font-size: 18px;
          margin-bottom: 10px;
        }

        input {
          border-radius: 15px;
          width: 100%;
          border: 2px solid #FF8000;
          padding: 5px
        }

        input[type='submit'] {
          width: fit-content;
          display: block;
          border: 1px;
          border-radius: 15px;
          margin: 0 auto;
          padding: 10px;
          color: white;
          background-color: #FF8000;
          font-size: 18px;
          font-weight: 700;
        }

        .error {
          color: red;
        }
      }

      @media (max-width: 576px) {
        & {
          width: auto;
          padding: 30px;
        }
      }
  
      @media (min-width: 576px) {
       & {
         width: 500px;
       }
      }
      
      @media (min-width: 768px) {
      }
      
      
      @media (min-width: 992px) {
        & {
          width: 600px;
        }
      }
      
  
      @media (min-width: 1200px) {
  
      }
    }
  }
}

