.p_abs {
  position: absolute;

  .nav__icon {
    margin-top: 10px;
  }
}

.p_fixed {
  position: fixed;
  
  top: 0;

  .nav__icon {
    margin-top: 61px;
  }
  
}

.wrapper {
  display: flex;
  z-index: 100;
  height: 100%;
  transition: margin .5s;
  margin: 0 0 0 -400px;
  
  &.is-nav-open {
    margin-left: 0;
  }

  .nav {
    position: relative;
    width: 400px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #FF8000;

    .nav__body {
      width: 100%;
      
      ul{
        padding: 0;
        list-style: none;

        li {
          height: 100%;
          font-size: 18pt;
          font-weight: 500;
          height: 80px;
          
          &.active a{
            color: #FF8000;
            background-color: white;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            font-weight: bold;
            white-space: nowrap;
            text-decoration: none;
            color: white;

            &:hover {
              color: #FF8000;
              background-color: white;
            }
          }
        }
      }
    }
  }
  
  .nav__icon {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
    background-color: #FF8000;
  }

  .nav__icon:hover {
    color: #5eb2ff;
  }

   
  @media (min-width: 320px) {
    &{
      margin: 0 0 0 -250px;
      .nav {
        width: 250px;
        .nav__body {
          
          ul{

            li {
              height: 70px;
              font-size: 14pt;
            }
          }
        }
      }

      .nav__icon {
        right: -60px;
      }
    }
  }

  @media (min-width: 576px) {
    &{
      margin: 0 0 0 -400px;

      .nav {
        width: 400px;
        .nav__body {
          
          ul{
    
            li {
              height: 80px;
              font-size: 18pt;
            }
          }
        }
      }

      .nav__icon {
        right: -60px;
      }
    }
  }

  
  @media (min-width: 768px) {

  }
  
  
  @media (min-width: 992px) {

  }
  

  @media (min-width: 1200px) {

  }
}

