.headers {
  margin: 12px auto 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 5px 10px rgb(0 0 0 / 25%);
  border-radius: 15px;
  padding: 24px;

  textarea{
    outline: none;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #FF8000;
    overflow: hidden;

    &:focus {
      border-bottom: 3px solid #FF8000;
    }

    &[name='title'] {
      height: auto;
      font-size: 36px;
      margin-bottom: 24px;
    }

    &[name='description'] {
      font-size: 14px;
    }
  }
  }

.form {
  background: #FFFFFF;
  box-shadow: 1px 5px 10px rgb(0 0 0 / 25%);
  border-radius: 15px;
  padding: 24px;
  margin: 15px auto 0px auto;

  textarea, input {
    outline: none;
    height: auto;
    overflow: hidden;
    width: 100%;
    border: 0px;
    font-size: 16px;
    border-bottom: 1px solid #FF8000;

    &:focus {
      border-bottom: 3px solid #FF8000;
    }

    &[name='description'] {
      padding: 15px;
    }

  }

  &>div {
    &:first-child {
      padding-bottom: 12px;
    }

    .question_type {
      display: flex;
      justify-content: start;
      align-items: center;
      border: 1px solid #FF8000;
      padding: 10px;
      cursor: pointer;

      img {
        padding-right: 15px;
      }
    }

    .all_type {
      position: relative;
      
      .burger_type {
        z-index: 10;
        position: absolute;
        width: 100%;
        background-color: white;
        border: 1px solid #FF8000; 

        .question_type{
          border:0px
        }

        .question_type:hover {
          background-color: #FF8000;
          color: white;
          fill: white;
        }
      }
    }
  }

  .questions {

    &>div:last-child {
      img {
        cursor: pointer;
        
      }
    }
    img {
      
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;

      &>textarea {
        margin: 12px;
        height: fit-content
      }
    }

    .active {
      display: block;
    }

    .noActive {
      display: none;
    }


  }

  .answer {
    margin-top: 12px;

    button {
      padding: 12px;
      border: 0px;
      background-color: white;
      color: #FF8000;

      &:hover{
        background-color: rgba(#FF8000, 0.7);
        color:white
      }
    }
  }

    .active {
      display: block;
    }

    .noActive {
      display: none;
    }

}

.answerActive {
  textarea {
    border-bottom: 3px solid green;
  }
}

.navbarQuetions {
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  margin-top: 15px;
  padding: 15px;

  button {
    height: 50px;
    width: 100%;
  }
}