footer {
  padding: 30px;
  background-color: #FF8000;
  width: 100%;
  color:white;

  h3 {
    display: flex;
    color:white;
  }

  .footer_about {
    p {
      font-size: 18px;
      
    }
  }

  .footer_kurs {
    ul{
      padding: 0;
      li{
        list-style: none;
        a{
          font-size: 18px;
        }
      }
    }
  }

  .footer_nav {
    ul{
      padding: 0;
      li{

        list-style: none;
        
        a{
          font-size: 24px;
          font-weight: bold;
          padding-bottom: 25px;
        }
      }
    }
  }

  .footer_feedback {
    .icons {
      display: flex;
      a{
        margin-right: 15px;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}