footer {
  padding: 30px;
  background-color: #FF8000;
  width: 100%;
  color:white;

  p {
    font-size: 18px;
  }

  h3 {
    display: flex;
    color:white;
  }

  .footer_about {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  }

  .footer_kurs {
    p {
      margin: 0px;
    }
  }

  .footer_nav {
    ul{
      padding: 0;
      li{

        list-style: none;
        
        a{
          font-size: 24px;
          font-weight: bold;
          padding-bottom: 25px;
        }
      }
    }
  }

  .footer_feedback {
    display: flex;
    justify-content: center;

    &>div {
      display: flex;
      justify-content: center;
    }

    p {
      width:fit-content;
      margin-bottom: 12px;
    }

    .icons {
      width: auto;
      display: flex;
      a{
        margin-right: 15px;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .footer_author {
    display: flex;
    justify-content: center;
  }
}